
@import "payment-media";


#main_menu
{
    width: 100%;
    position: relative;
    background-color: #fff;
    
    height: 130px;

    

    .logo-area
    {
        width: 250px;
        
        position: absolute;
        left: 50%;
        top: 0;
        content: "";
        margin-left: -125px;
        text-align: center;
    }
    .inner_main_menu
    {
        margin: 0 auto;
        

        ul
        {
            list-style: none;
            text-align: right;
            padding: 2rem 16rem;

            li
            {
                float: none;
                display: inline-block;

                a
                {
                    color: #000;
                    font-size: 1.5rem;
                    text-decoration: none;
                    display: block;
                    padding: 1rem 1rem;
                }
                a:hover
                {
                    color: #0C3974;
                }
            }
            li:nth-child(1)
            {
                float: left;
                padding-left: 0;
            }
            li:nth-child(2)
            {
                float: left;
                padding-left: 1rem;
            }
            
        }
    }
}


.container-contact
{
    max-width: 600px;
    margin: 0 auto;
}
.contact
{
    background-color: #6DB440;
    padding: 3rem 0;

    
    .meeran 
    {
        padding: 20px 160px;
    }
    h2
    {
        text-align: center;
        padding: 20px 0;
    }
    h1
    {
        text-align: center;
        color: #fff;
        
    }
    h2, p
    {
        
        color: #fff;
    }
    h6
    {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 3rem;
        padding: 10px 0;
    }
    a
    {
        text-decoration: underline;
        color: #fff;
    }
    .form-box
    {
        background-color: #fff;
        padding: 5rem 5rem;
        
        margin: 0 auto;
        box-shadow: 10px 10px #434343;

        .contact-form {
            max-width: 100%;
            display: block;
            text-align: center;
            margin: 0 auto;

            .form-group {
                margin-bottom: 1.5rem;

                .form-control {
                    border: none;
                    border-bottom: 1px solid #797979;
                    padding: 10px 0;
                    background: transparent;
                    font-weight: normal;
                    border-radius: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    height: 32px;
                    color: #797979;
                    font-size: 14px;
                    position: relative;
                    font-family: 'Roboto',sans-serif;
                    -webkit-transition: border .9s ease;
                    -o-transition: border .9s ease;
                    transition: border .9s ease;
                }
            }
            textarea {
                min-height: 130px;
                resize: none;
            }
        }
    }
}
.btn
{
    background-color: #0C3974;
    color: #fff;
    
    float: left;
}